[% PROCESS definitions.tt %]

---
title: 'Contact'
keywords: [foo, bar]
description: 'How can you reach me?'
lang: en-US
header-includes: |
  [% bmo_logo_menu %]
---

[% INCLUDE header.md.tt %]

<br/>

### Email
[% contact %]

### irc.libera.chat
@bmodotdev

### Discord
bmo.dev#8203

### Slack
[bmodotdev.slack.com](https://bmodotdev.slack.com/team/U02QDUHBX4K)

[% INCLUDE footer.md.tt %]
